// PAGE HEADER
.page-headerdt {
    background: var(--green-cl);
    position: relative;
    height: 50px;

    .header__wraper {
        .heading {
            text-align: center;
            font-family: Oswald;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            text-transform: uppercase;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%);
        }
    }
}

// TEAM 
.teamdt {
    background-color: var(--main-cl);
    padding-bottom: 32px;
    border-bottom: 0.1px solid #25292F;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 15px;

        .home {
            padding-right: 42px;
            border-right: 0.1px solid #25292F;
            border-bottom: initial;
            padding-bottom: initial;

            .title {
                padding-top: initial;
                font-size: 17px
            }

            .team__wraper {

                .team__group {
                    border-bottom: initial;

                    .group {
                        gap: 32px;
                    }
                }

                .team__group:first-child {
                    border-right: 0.1px solid #25292F;
                    padding-right: 37px;
                }

                .team__group:last-child {
                    padding-left: 40px;
                }
            }
        }

        .guestdt {
            padding-left: 42px;
            border-bottom: initial;
            padding-bottom: initial;

            .title {
                padding-top: initial;
                font-size: 17px;
                font-weight: 700;
            }

            .team__wraper {
                .team__group {
                    border-bottom: initial;
                    border-right: 0.1px solid #25292F;

                    .group {
                        gap: 32px;
                    }
                }

                .team__group:first-child {
                    border-right: 0.1px solid #25292F;
                    padding-right: 37px;
                }

                .team__group:last-child {
                    padding-left: 40px;
                    border-right: initial;
                }
            }
        }

    }
}



// LOSES SCORE ////
.losescoredt {
    border-bottom: 0.1px solid #25292F;
    padding-bottom: 20px;

    .row {
        .title {
            font-size: 17px;
            font-weight: 700;
        }
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;

        .fx {
            .fx-div {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo {
                    margin-left: 70px;
                }

                .info {
                    .fx-tb-b {
                        .--grey-dark-cl {
                            color: #F2F3F3;

                            text-align: center;
                            font-family: Inter;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 14px;
                            /* 116.667% */
                            text-transform: uppercase;
                            padding: 7px 0;
                            visibility: hidden;
                        }

                        li {
                            display: flex;
                            flex-direction: row-reverse;
                            margin: 1px 0;

                            .fx-td-data {
                                background-color: var(--grey-dask-cl);
                                height: 18px;
                                position: relative;
                                border-radius: 2px 0 0 2px;
                                margin-left: 10px;
                                margin: 6.3px 0;

                                .--orange-cl {
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    height: 18px;
                                    border-radius: 2px 0 0 2px;

                                }

                                .--green-cl {
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    height: 18px;
                                    border-radius: 2px 0 0 2px;
                                }
                            }

                            .number {
                                color: #FFF;
                                text-align: right;
                                font-family: Inter;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 14px;
                                margin-right: 10px;
                                padding-top: 8px;
                            }
                        }
                    }
                }
            }
        }

        .fx1 {
            .score {
                .--grey-dark-cl {
                    color: #F2F3F3;
                    text-align: center;
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 14px;
                    /* 116.667% */
                    text-transform: uppercase;
                    background-color: var(--grey-dask-cl);
                    padding: 8px 0;
                    margin: 1px 0;
                    border-radius: 2px;
                }

                .--grey-light-cl {
                    color: #FFF;
                    text-align: center;
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 14px;
                    padding: 8px 0;
                    margin: 1px 0;
                    border-radius: 2px;
                }
            }

        }

        .fx2 {
            .fx-div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row-reverse;

                .logo {
                    margin-right: 70px;
                }

                .info {
                    .fx-tb-b {
                        .--grey-dark-cl {
                            color: #F2F3F3;

                            text-align: center;
                            font-family: Inter;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 14px;
                            /* 116.667% */
                            text-transform: uppercase;
                            padding: 6.4px 0;
                            visibility: hidden;
                        }

                        li {
                            display: flex;
                            align-items: center;
                            // flex-direction: row-reverse;
                            margin: 1px 0;

                            .fx-td-data {
                                background-color: var(--grey-dask-cl);
                                height: 18px;
                                position: relative;
                                border-radius: 0 2px 2px 0px;
                                margin-left: 10px;
                                margin: 6.6px 0;

                                .--orange-cl {
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    height: 18px;
                                    border-radius: 0 2px 2px 0px;

                                }

                                .--green-cl {
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    height: 18px;
                                    border-radius: 0 2px 2px 0px;
                                }
                            }

                            .number {
                                color: #FFF;
                                font-family: Inter;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 14px;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}


// WINSCORE
.winscoredt {
    padding-top: 20px;
    padding-bottom: 20px;

    .winscoredt_wraper {
        .winscoredt__team {
            padding-left: 48px;
            padding-right: 48px;

            .row {
                display: flex;
                align-items: center;
                justify-content: center;

                .title {
                    padding-top: initial;
                    font-size: 17px;
                    font-weight: 700;
                    text-align: center;
                }
            }

            .winscoredt__group {
                display: grid;
                grid-template-columns: 1fr 1fr;
                .team__group {
                    border-bottom: initial;
                    .group {
                        border-bottom: initial;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

                        .item {
                            .bg {
                                width: 40px;
                                height: 80px;
                                flex-shrink: 0;
                                margin-left: 24px;
                            }
                            .content {
                                color: #FFF;
                                text-align: center;
                                font-family: Inter;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 14px;
                            }

                        }
                    }
                }

                .team__group:first-child {
                    border-right: initial;
                    padding-right: 25px;
                }

                .team__group:last-child {
                    padding-left: 25px;
                    border-left: 0.1px solid #25292F;
                }
            }
        }
    }

}